<head>
    <script src="jquery-3.5.0.min.js"></script>
    <style>
      .accordion{
        border: black solid;
      }
      body{
    background-image: url("https://images.hdqwalls.com/download/nature-ocean-rock-lu-1366x768.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover;
}
img.upper{
    display: block;
    margin: 0px auto;
}
div.box{
    height: 800;
    width: 450;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
    text-align: center;
    padding-top: 1%;
}
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story 8: Muhammad Aulia Adil</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#accordion1" ).accordion({ header: "h3", collapsible: true, active: false });
      $( "#accordion2" ).accordion({ header: "h3", collapsible: true, active: false });
      $( "#accordion3" ).accordion({ header: "h3", collapsible: true, active: false });
      $( "#accordion4" ).accordion({ header: "h3", collapsible: true, active: false });
 
      $('.buttondown').on('click', event => {
        const $accordion = $(event.currentTarget).parents('.accordion');
        $($accordion).before($($accordion).next());
        });
        
        $('.buttonup').on('click', event => {
        const $accordion = $(event.currentTarget).parents('.accordion');
        $($accordion).after($($accordion).prev());
      });
    }); 
    </script>
</head>
<body>
    <div class="box">
        <img class="upper" id="myImage" src="https://media-exp1.licdn.com/dms/image/C5603AQGwT-JTZ2mPJA/profile-displayphoto-shrink_200_200/0?e=1592438400&v=beta&t=8D9NS_iWuXou_7Us4i0jaq--on8sjZ5sa1wik0cOdZs" />
        <h2 id="nama" name="nama">Bismillah</h2>
      <div>
      <div id="accordion1" class="accordion">
        <h3 >Data Diri
        
        <button type="button" class="buttondown"> v</button>
        <button class="buttonup"> ^</button> 
      </h3>
        <div class="accordion-content">     
            <ul>
                <li>Nama: Muhammad Aulia Adil</li>
                <li>NPM: 1906398591</li>
                <li>TTL: Jakarta, 17 April 2000</li>
                <li>Hobi: Juggling</li>
            </ul>
          </div>    
      </div>

      <div id="accordion2" class="accordion">
        <h3 id="1">Prestasi
          <button type="button" class="buttondown"> v</button>
          <button class="buttonup"> ^</button>
        </h3>
        <div >      
            <ul id="19">
                <li>Masuk SMAN 1 Bekasi jalur reguler</li>
            </ul>
          </div>    
      </div>

      <div id="accordion3" class="accordion">
        <h3 id="1">Aktivitas saat ini
          <button type="button" class="buttondown"> v</button>
          <button class="buttonup"> ^</button>
        </h3>
        <div >      
            <ul id="19">
                <li>Ngerjain story 8 PPW yang susah banget</li>
            </ul>
          </div>    
      </div>

      <div id="accordion4" class="accordion">
        <h3 id="1">Organisasi
          <button type="button" class="buttondown"> v</button>
          <button class="buttonup"> ^</button>
        </h3>
        <div >      
            <ul id="19">
                <li>Merupakan sebuah kelompok manusia dengan tujuan tertentu</li>
            </ul>
          </div>    
      </div>
      </div>
    </div>
        
          

    <!-- <script src="Interact.js"></script> -->
</body>